name: Run_Google_Indexing
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Start
        env:
          GOOGLE_JSON: ${{ secrets.GOOGLE_JSON }}
          SITEMAP_URL: https://liidl.shop/app-resources/sitemaps/sitemap_products_1.xml.gz
        run: python main.py
